* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: #c7e93f;
    padding: 10px;
}

header .logo {
    width: 120px;
    height: 80px;
}

.layout {
    display: flex;
    width: 100%;
    min-height: 600px;
}

aside.left,
aside.right {
    flex: 1;
    background: #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

main {
    width: 900px;
    background: #eee;
    padding: 20px;
    min-height: 600px;
}

footer {
    width: 100%;
    text-align: center;
    background: #ddd;
    padding: 20px;
    border-top: 1px solid #ddd;
}

form input {
    padding: 6px;
    font-size: 14px;
}

select {
    padding: 6px;
    font-size: 14px;
}

.top-right-buttons {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    gap: 8px;
}

.top-right-buttons button {
    margin-top: 0;
    width: 60px;
    height: 60px;
}